*{
	font-family: sans-serif;
}
body{
	height: 100%;
}
#body{
	height: 100vh;
	font-size: 17px;
}
#banner{
	background-image: url("../gambar/bus.png");
	height: 250px;
	width: 100%;
	padding: 100px 0;
	text-align: center;
	color: white;
}
#banner-text{
	font-size: 40px;
}
#p{
	width: 40%;
	text-align: justify;
	margin: 0 auto;
}
#file{
	width: 50%;
	margin: 0 auto;
	padding: 0 auto;
}
#file-input{
	border: 1px black solid;
	padding: 10px 10px;
	border-radius: 3px;
}