*{
	font-family: sans-serif;
}
body{
	height: 100%;
}
#body{
	height: 100vh;
	font-size: 17px;
}
#banner{
	background-image: url("../gambar/bus.png");
	height: 250px;
	width: 100%;
	padding: 100px 0;
	text-align: center;
	color: white;
}
#banner-text{
	font-size: 40px;
}
#table{
	width: 90%;
	margin: 0 auto;
	background: white;
}
#table #pelanggan td{
	width: 25%;
}
