*{
	font-family: sans-serif;
}
body{
	height: 100%;
}
#body{
	height: 100vh;
	font-size: 17px;
}
#banner{
	background-image: url("../gambar/bus.png");
	height: 250px;
	width: 100%;
	padding: 100px 0;
	text-align: center;
	color: white;
}
#banner-text{
	font-size: 40px;
}
#form{
	width: 60%;
	margin: 0 auto;
}
#radio{
	text-align: center;
	border: 1px black solid;
	padding: 20px 0px;
	background-color: white;
}

